*{
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

body > main > nav {
	text-align: right;
}

.list-item {
	list-style-type: none;
	padding: 5px;
}

.createWorkoutLi {
	background-color:white;
	list-style-type: none;
}

.createWorkoutLi:hover {
	cursor:pointer;
	background: gray;
}

.hidden {
	display: none;
}

.dropdown ul {
	height: 300px;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	background-color:white;
}

.workoutForm {
	border: 1px solid black;
	height: 300px;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

button {
	margin-top: 5px;
	width: 150px;
	cursor: pointer;
}
.center {
	position: absolute;	
	margin: auto;
	top: 120px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(106, 90, 205);
	height: 100%;
	width: 100%;
	padding-top: 20%;
}

#workout-choices-list {
	text-align: center;
}

#workout-choices-list li button {
	width: 250px;
}

#workout-ul {
	list-style-type: none;
	font-size: 18px;
	text-align: center;
	padding:5px;
}
.workoutListItemTitle {
	background-color:rgb(106, 90, 205);
	border-bottom: 1px solid black;
	color: white;
	padding-left: 5px;
	text-align: left;
}

.workoutListItemExercise {
	border-bottom: 	1px solid black;
}

.workoutListItemSets {
	border-bottom: 1px solid black;
}

#workout-exercise-form-container {
	height: 350px;
}
