.tinted-image {
	background: 
	linear-gradient(
	rgba(100, 137, 126, .7),
	rgba(100, 137, 126, .7)), 
	url('images/clean-weight-room.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.list-item {
	list-style-type: none;
	padding: 5px;
}

.createWorkoutLi {
	background-color:white;
	list-style-type: none;
}

.createWorkoutLi:hover {
	cursor:pointer;
	background-color: rgba(0,0,0,.2);
}

.dropdown ul {
	height: 300px;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	background-color:white;
}

#workout-choices-list {
	text-align: center;
}

#workout-form-container {
	margin-top: 250px;
}

#workout-ul {
	list-style-type: none;
	font-size: 18px;
	text-align: center;
	padding:5px;
}
.workoutListItemTitle {
	background-color:rgb(106, 90, 205);
	border-bottom: 1px solid black;
	color: white;
	padding-left: 5px;
	text-align: left;
}

.workoutListItemExercise {
	border-bottom: 	1px solid black;
}

.workoutListItemSets {
	border-bottom: 1px solid black;
}

#workout-exercise-form-container {
	position: fixed;
	top: 80px;
	left: 50%;
}

#populate-workout-section {
	width: 75%;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
}

#populate-workout-section h2 {
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(100, 137, 126);
	color: white;
	padding-bottom: 5px;
	margin:0;
	font-size: 42px;
	-webkit-box-shadow: 0px -12px 16px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -12px 16px -6px rgba(0,0,0,0.75);
	box-shadow: 0px -12px 16px -6px rgba(0,0,0,0.75);
}

thead {
	background: #6194BC;
	color: white;
}
table.table{
	-webkit-box-shadow: 0px 12px 16px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 16px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 16px -6px rgba(0,0,0,0.75);
}
.set-info {
	background-color: #D0EAFF;
}

.exercise-info {
	background-color: #A5D1F3;
}

#toggle-form-button {
	width: 50px;
}

.toggled {
	height:50px;
}

#finish-workout-button {
	margin-top:0;
	margin-bottom:0;
}


@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
	#workout-form-container form {
		width: 95%;
	}

	#workout-exercise-form-container {
		position: fixed;
		top: 70px;
		left: 2%;
		right:2%;
	}

	#workout-exercise-form {
		width: 100%;
	}

	#exercise-sets-form {
		width: 100%;
	}

	#populate-workout-section {
		width:95%;
	}

	#new-workout-section {
		margin-top: 30%;
	}

	.table {
		width: 100%;
	}

}/*---end iphone 6 styles---------------------->

iphone 6 flipped -------------*/
@media screen and (max-device-width: 667px) and (max-device-height:375px) {
	#workout-form-container form {
		width: 95%;
	}

	#workout-exercise-form-container {
		position: fixed;
		top: 70px;
		left: 2%;
		right:2%;
	}

	#workout-exercise-form {
		width: 100%;
	}

	#exercise-sets-form {
		width: 100%;
	}

	#populate-workout-section {
		width:95%;
	}

	#new-workout-section {
		margin-top: 30%;
	}

	.table {
		width: 100%;
	}
}

/*iphone 6 plus------------*/
@media screen and (max-device-width: 414px) and (max-device-height: 736px) {
	#workout-form-container form {
		width: 95%;
	}

	#workout-exercise-form-container {
		position: absolute;
		top: 70px;
		right:2%;
		left:2%;
	}

	#workout-exercise-form {
		width: 100%;
	}

	#exercise-sets-form {
		width: 100%;
	}

	#populate-workout-section {
		width:95%;
	}

	#new-workout-section {
		margin-top: 30%;
	}

	.table {
		width: 100%;
	}

}

/*---iphone 6 plus flipped styles---------------------->*/

@media screen and (max-device-width: 736px) and (max-device-height: 414px) {
	#workout-form-container form {
		width: 95%;
	}

	#workout-exercise-form-container {
		position: fixed;
		top: 70px;
		left: 2%;
		right:2%;
	}

	#workout-exercise-form {
		width: 100%;
	}

	#exercise-sets-form {
		width: 100%;
	}

	#populate-workout-section {
		width:95%;
	}

	#new-workout-section {
		margin-top: 30%;
	}

	.table {
		width: 100%;
	}

}/*---end iphone 6 plus flipped styles---------------------->


/*ipad-------------*/
@media screen and (max-device-width: 768px) and (max-device-height: 1024px) {
	#workout-form-container form {
		width: 95%;
	}

	#workout-exercise-form-container {
		position: fixed;
		top: 70px;
		left: 2%;
		right:2%;
	}

	#workout-exercise-form {
		width: 100%;
	}

	#exercise-sets-form {
		width: 100%;
	}

	#populate-workout-section {
		width:95%;
	}

	#new-workout-section {
		margin-top: 30%;
	}

	.table {
		width: 100%;
	}

}
