*{
	margin:0;
	padding:0;
		box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background: url('images/warehouse-gym.jpg') center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}

.workoutForm {
	border: 1px solid black;
	height: 300px;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

button {
	width: 150px;
	cursor: pointer;
	color: rgb( 97, 148, 188);
	border-radius: 0px;
	background-color: transparent;
	border: 2px solid rgb(97, 148, 188) !important;
}

button:hover {
	background-color: rgba(255, 255, 255, .7) !important;
}

.user-path-button {
	height: 150px;
	width: 100%;
	font-size: 28px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
}

button#create-workout-button {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: transparent !important;
}

button#view-all-workouts-button {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: transparent !important;
}

.nav-button {
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 0px;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-color: white;
}

body main nav {
	background-color: #D0EAFF !important;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.44);
}

.center {
	position: absolute;	
	margin: auto;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 8%;
}

.color-schema {
	background-color: rgba(208, 234, 255, .9);
	border-radius: 10px;
	color: rgb( 97, 148, 188);
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	-webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
}

.inner-container {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.inner-container p {
	font-size: 32px;
}

.inner-container ul {
	list-style-type: none;
}
