

.tinted-image {
	background: 
	linear-gradient(
	rgba(100, 137, 126, .7),
	rgba(100, 137, 126, .7)), 
	url('images/warehouse-gym.jpg') no-repeat center center;
	background-size: cover;
}


.user-path-button {
	height: 150px;
	width: 100%;
	font-size: 28px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
}

button#create-workout-button {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: transparent !important;
}

button#view-all-workouts-button {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: transparent !important;
}


.inner-container {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.inner-container ul {
	list-style-type: none;
}

@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
	.inner-container {
		width: 95%;
	}

	nav {
		text-align: center;
	}

	nav > button{
		margin-left: auto;
		margin-right: auto;
	}

	#navbar-toggle > a {
		margin:0;
	}


	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
	}

	#log-out-button {
		float:right;
	}

}/*end iphone 6 styles-------------->