
#intro-container {
	text-align: center;
	height: 280px;
	width: 450px;
	display:table;
	border: 1px solid #6194BC;
}

.inner-container {
	display:table-cell;
	vertical-align: middle;
}

.inner-container p {
	font-size: 18px;
}

.inner-container h1 {
	font-size: 44px;
}

#log-in-container {
	display: table;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #6194BC;
}

#sign-up-container {
	display:table;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #6194BC;
}

form {
	height:auto;
	width: 400px;
	padding: 10px;
}

form h2	{
	text-align: center;
}

.list-item {
	list-style-type: none;
	padding: 5px;
}

.tinted-image {
	background: 
	linear-gradient(
	rgba(100, 137, 126, .7),
	rgba(100, 137, 126, .7)), 
	url('images/dumbbells.jpg') no-repeat center center;
	background-size: cover;
}

#intro-login-button {
	margin:10px;
}

#intro-signup-button {
	margin: 10px;
}

@media screen and (max-device-width: 375px) and (max-device-height: 667px) {

	#intro-container{
		height: 100%;
		width: 100%;
	}

	#log-in-container {
		height: 50%;
		width: 100%;
		margin-top: 35%;
	}

	#sign-up-container {
		height: 50%;
		width: 95%;
		margin-top: 35%;
	}

	#sign-up-container form {
		width:100%;
	}

	#sign-up-section {
		position: absolute;
		top: 0;
		left: 0;
		right:0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}


	.center {
	position: absolute;	
	margin: auto;
	padding-top: 0;
	top:30px;
	right:10px;
	left:10px;
	bottom:30px;
	}

	#intro-login-button {
		width: 80%;
	}

	#intro-signup-button {
		width:80%;
	}

	#intro-container > div > h1 {
		font-size: 36px;
		margin-bottom: 30px;

	}

	#intro-container > div > p {
		margin-bottom: 50px;
	}

	




}/*end Iphone 6 styles----->*/