.tinted-image {
	background: 
	linear-gradient(
	rgba(255, 148, 102, .7),
	rgba(255, 148, 102, .7)), 
	url('images/elitefts-gym.jpg') no-repeat center center;
	background-size: cover;
}

.dropdown ul{
	height: 300px;
	width:100%;
	overflow-y: scroll;
	position: absolute;
	top: 50px;
	background-color:white;
}

.createWorkoutLi {
	background-color:white;
	list-style-type: none;
}

.createWorkoutLi:hover {
	cursor:pointer;
	background-color: rgba(0,0,0,.2);
}

.canvas-container {
	height: 400px;
}

div#chart-form-container {
	width:550px;
	margin-left: auto;
	margin-right: auto;
}

form#create-new-chart {
	border: none;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.44);
}

form#create-new-chart label{
	font-size: 20px;
}

#create-new-chart button {
	margin-top: 0px;
	margin-left: 5px;
}

input#exercise-name ul {
	margin-top: 50px;
}


