*{
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

#userWorkoutsList {
	background-color: rgba(208, 234, 255, .5);
}

#userWorkoutsList h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
}

#userWorkoutsList li {
	list-style-type: none;
	width: 400px;
	border-bottom: 1px solid rgb(97, 148, 188);
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

#userWorkoutsList a {
	text-decoration: none;
}


.hidden {
	display: none;
}

body main nav {
	background-color: #D0EAFF !important;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.44);
}

.nav-button {
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 0px;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
}

button {
	width: 150px;
	cursor: pointer;
	color: rgb( 97, 148, 188);
	border-radius: 0px;
	background-color: transparent;
	border: 2px solid rgb(97, 148, 188) !important;
}

button:hover {
	background-color: rgba(255, 255, 255, .7) !important;
}