.tinted-image {
	background: 
	linear-gradient(
	rgba(100, 137, 126, .8),
	rgba(100, 137, 126, .8)), 
	url('images/elitefts-gym.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

#userWorkoutsList h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
	color: white;
}

#userWorkoutsList li {
	list-style-type: none;
	width: 400px;
	border-bottom: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}

#userWorkoutsList a {
	text-decoration: none;
	color:white;
}

#userWorkoutsList a:hover {
	color: rgba(0,0,0,.5);
}

#renderedWorkout>h2{
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(100, 137, 126); 
	color: white;
	margin:0;
	padding:10px;
}

.trhead {
	background: #6194BC;
	color: white;
}

.sets-tr {
	background-color: #D0EAFF;
}

.exercise-tr {
	background-color: #A5D1F3;
}

#renderedWorkout {
	width: 80%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
}

.set-info {
	background-color: #D0EAFF;
}

.exercise-info {
	background-color: #A5D1F3;
}

#userWorkoutsListContainer {
	margin-top: 100px;
}

