.tinted-image {
	background: 
	linear-gradient(
	rgba(100, 137, 126, .8),
	rgba(100, 137, 126, .8)), 
	url('images/elitefts-gym.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

#userWorkoutsList h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
	color: white;
}

#userWorkoutsList li {
	list-style-type: none;
	width: 400px;
	border-bottom: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}

#userWorkoutsList a {
	text-decoration: none;
	color:white;
}

#userWorkoutsList a:hover {
	color: rgba(0,0,0,.5);
}

#renderedWorkout>h2{
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(100, 137, 126); 
	color: white;
	margin:0;
	padding:10px;
}

.trhead {
	background: #6194BC;
	color: white;
}

.sets-tr {
	background-color: #D0EAFF;
}

.exercise-tr {
	background-color: #A5D1F3;
}

#renderedWorkout {
	width: 90%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.44);
	background-color: #D0EAFF
}

.set-info {
	background-color: #D0EAFF;
}

.exercise-info {
	background-color: #A5D1F3;
}

#userWorkoutsListContainer {
	margin-top: 70px;
}

#delete-button {
	border: 1px solid white;
}

#renderedWorkout > table {
	margin-bottom: 	0;
}

#renderedWorkout > button {
	background-color: rgb(100, 137, 126);
	border: 2px solid white !important;
	color:white;
	margin:5px;
	border-radius: 0px;
}

#delete-button {
	margin-left: 5px;
}

/*iphone 6------------------*/

@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}/*---end iphone 6 styles----------------------------->

/*Iphone 6 flipped-------------*/
@media screen and (max-device-width: 667px) and (max-device-height: 375px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}
/*iphone 6 flipped------------>*/

/*iphone 5 ---------->*/
@media screen and (max-device-width: 320px) and (max-device-height: 568px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		width: 100%;
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		width: 100%;
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
	#renderedWorkout {
		width: 100%;
	}
}
/*nexus 6 p---------------*/
@media screen and (max-device-width: 412px) and (max-device-height: 732px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}

/*nexus p flipped ----------*/
@media screen and (max-device-width: 732px) and (max-device-height: 412px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}/*---------------nexus 6 p flipped*/

/*iphone 6 plus --------------------*/
@media screen and (max-device-width: 414px) and (max-device-height: 736px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}/*---end iphone 6 plus styles----------------------------->

/*Iphone 6 plus flipped-------------*/
@media screen and (max-device-width: 736px) and (max-device-height: 414px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}

/*-------------ipad-------------*/
@media screen and (max-device-width: 768px) and (max-device-height: 1024px) {
	#navbar-toggle > a {
		margin:0;
	}

	a.navbar-brand {
		width: auto;
		position: absolute;	
		top:10px;
		right:5px;
	}

	#navbar-toggle > ul {
		display: inline;
	}

	#dashboard-button {
		float:left;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#log-out-button {
		float:right;
		margin-top:5px;
		margin-right: 0;
		margin-left: 0;
		margin-bottom:0;
	}

	#userWorkoutsListContainer {
		width:100%;
	}

	#userWorkoutsList li{
		width: 95%;
		margin-top: 5px;
	}
}